:root {
  /*color*/
  --primary-color: #3f70af;
  --white-color: #ffffff;
  --black-color: #000000;
  --gray-color-100: #f9fafb;
  --gray-color-200: #eff1f4;
  --gray-color-300: #e5e7eb;
  --gray-color-400: #d1d5db;
  --gray-color-500: #9ca3af;
  --gray-color-600: #6b7280;
  --gray-color-700: #4b5563;
  --gray-color-900: #1f2937;
  --fn-background: #f1f5f5;
  /*border color*/
  --border-color: #dddddd;
  /*number color*/
  --number-color: #5672ed;
  /*messege color*/
  --messege-color: #5672ed;
  /*resultLevel color*/
  --result-level-low: #b472e4;
  --result-level-normal: #0e4194;
  --result-level-high: #e52828;
  /*boder-radius*/
  --border-radius-sm: 4px;
  --border-radius-md: 12px;
  --border-radius-lg: 20px;
  --border-radius-xl: 30px;
  /*font-size*/
  --font-size-xxxs: 1.25rem; /*20px*/
  --font-size-xxs: 1.5rem; /*24px*/
  --font-size-xs: 1.75rem; /*28px*/
  --font-size-sm: 1.875rem; /*30px*/
  --font-size-md: 2rem; /*32px*/
  --font-size-lg: 2.25rem; /*36px*/
  --font-size-xl: 2.5rem; /*40px*/
  --font-size-xxl: 3.5rem; /*56px*/
  --font-size-xxxl: 3.75rem; /*60px*/
  --font-size-4xl: 4.875rem; /*78px*/
  /*padding*/
  --padding-sm: 0.5rem;
  --padding-md: 1rem;
  --padding-lg: 1.5rem;
  --padding-xl: 2rem;
  /*margin*/
  --margin-sm: 0.5rem;
  --margin-md: 1rem;
  --margin-lg: 1.5rem;
  --margin-xl: 2rem;
}
