@charset "UTF-8";
@import url('common.css');
*,
*::before,
*::after {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
}
ol,
ul,
li {
  list-style: none;
  font-family: 'pretend';
}
a,
button {
  cursor: pointer;
  font-family: 'pretend';
}
a {
  text-decoration: none;
  color: inherit;
}
html,
body {
  width: 100%;
  height: 100%;
  font-family: 'pretend';
}
@font-face {
  font-family: 'pretend';
  src: url('../font/Pretendard-Regular.woff') format('woff');
}
/** S :  Global Style ******************************/
/*header*/

/*userinfo*/
.userInfoWrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 192px;
  padding: 40px;
  font-size: var(--font-size-xl);
  background: var(--white-color);
}
.userInfoWrap > ul > li:first-child {
  font-size: var(--font-size-xxl);
}
.userInfoWrap > ul > li > b {
  font-size: var(--font-size-xxl);
  font-weight: 700;
}
.userInfoWrap button {
  width: 269px;
  height: 96px;
  border-radius: 10px;
  color: var(--primary-color);
  font-size: var(--font-size-xl);
  background: #dcebfe;
}

/*main*/
.mainMenuWrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 12px;
  gap: 0.75em;
  width: 100%;
  height: 100%;
  padding: 40px;
  padding-bottom: 100px;
}
.mainMenuWrap > li {
  width: calc(50% - 6px);
  height: 290px;
}
.mainMenuWrap > li > a {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 20px;
  border-radius: var(--border-radius-lg);
  background: var(--primary-color);
  color: var(--white-color);
  font-size: var(--font-size-xxxl);
}
i.menuIcon {
  display: block;
  width: 146px;
  height: 146px;
  background-size: cover;
  background-repeat: no-repeat;
}
.iconMenuBlood {
  background: url('../images/icon/iconMenuBlood.svg');
}
.iconMenuHeight {
  background: url('../images/icon/iconMenuHeight.svg');
}
.iconMenuBody {
  background: url('../images/icon/iconMenuBody.svg');
}
.iconMenuSynthesis {
  background: url('../images/icon/iconMenuSynthesis.svg');
}
i.typeIcon {
  position: absolute;
  display: block;
  width: 48px;
  height: 48px;
  right: 20px;
  bottom: 20px;
  background-size: cover;
  background-repeat: no-repeat;
}
i.typeIcon.cable {
  background: url('../images/icon/iconCable.svg');
}
/*footer*/
.footerWrap {
  display: flex;
  justify-content: space-between;
  width: 100%;
  bottom: 0;
  background: var(--white-color);
}
.footerWrap button {
  padding: 20px;
}
/****************************** E :  Global Style **/

/** S : Page ******************************/
.synthesisWrap {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
/****************************** E : Page **/

/** S : Table ******************************/
/****************************** E : Table **/

/** S : Form ******************************/
/****************************** E : Form **/
@media (min-width: 1024px) {
}
