@charset "UTF-8";
@import url('common.css');
*,
*::before,
*::after {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
}
ol,
ul,
li {
  list-style: none;
  font-family: 'pretend';
}
a,
button {
  cursor: pointer;
  font-family: 'pretend';
}
a {
  text-decoration: none;
  color: inherit;
}
html,
body {
  width: 100%;
  height: 100%;
  font-family: 'pretend';
}
@font-face {
  font-family: 'pretend';
  src: url('../font/Pretendard-Regular.woff') format('woff');
}
/** S :  Global Style ******************************/
/*header*/

/*userinfo*/
.userInfoWrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 192px;
  padding: 40px;
  font-size: var(--font-size-xl);
  background: var(--white-color);
}
.userInfoWrap > ul > li:first-child {
  font-size: var(--font-size-xxl);
}
.userInfoWrap > ul > li > b {
  font-size: var(--font-size-xxl);
  font-weight: 700;
}
.userInfoWrap > div {
  display: flex;
  gap: 8px;
}
.userInfoWrap > div > button {
  width: 269px;
  height: 96px;
  border-radius: 10px;
  color: var(--primary-color);
  font-size: var(--font-size-xl);
  background: #dcebfe;
  font-weight: 700;
}

/*main*/
.mainMenuWrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 12px;
  gap: 0.75em;
  width: 100%;
  height: 100%;
}
.mainMenuWrap > li {
  position: relative;
  width: calc(50% - 6px);
  height: 290px;
}
.mainMenuWrap > li > a {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 20px;
  overflow: hidden;
  border-radius: var(--border-radius-lg);
  background: var(--primary-color);
  color: var(--white-color);
  font-size: var(--font-size-xxxl);
  font-weight: 700;
}
i.menuIcon {
  display: block;
  width: 146px;
  height: 146px;
  background-size: cover;
  background-repeat: no-repeat;
}
.iconMenuBlood {
  background: url('../images/icon/iconMenuBlood.svg');
}
.iconMenuHeight {
  background: url('../images/icon/iconMenuHeight.svg');
}
.iconMenuBody {
  background: url('../images/icon/iconMenuBody.svg');
}
.iconMenuSynthesis {
  background: url('../images/icon/iconMenuSynthesis.svg');
}
.iconMenuParallel {
  background: url('../images/icon/iconMenuParallel.svg');
}
i.typeIcon {
  position: absolute;
  display: block;
  width: 48px;
  height: 48px;
  right: 20px;
  bottom: 20px;
  background-size: cover;
  background-repeat: no-repeat;
}
i.typeIcon.cable {
  background: url('../images/icon/iconCable.svg');
}
.recordWrap {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: #ffffff;
  font-size: var(--font-size-xl);
  border-radius: var(--border-radius-lg);
  background: var(--primary-color);
}
.recordWrap > li:first-child {
  color: #ffe58a;
}
.recordWrap > li > span {
  font-size: var(--font-size-4xl);
  font-weight: 700;
}
.recordWrap > li:last-child {
  font-size: var(--font-size-xxxl);
  font-weight: 700;
}
.recordErrorWrap {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: #ffffff;
  font-size: var(--font-size-xl);
  text-align: center;
  border-radius: var(--border-radius-lg);
  background: rgba(0, 0, 0, 0.7);
}
.recordErrorWrap li::after {
  content: '';
  display: flex;
  margin: 20px auto 0 auto;
  width: 60px;
  height: 60px;
  background: url('../images/icon/cableError.svg');
  background-repeat: no-repeat;
}
/*footer*/
.footerWrap {
  display: flex;
  justify-content: space-between;
  width: 100%;
  bottom: 0;
  background: var(--white-color);
}
.footerWrap button {
  padding: 20px;
}

/*sub 공통사항*/
.dataWrap {
  position: relative;
}
.testStepWrap {
  display: flex;
  justify-content: space-between;
  gap: 12px;
  width: 100%;
}
.testStepWrap > div {
  width: 100%;
  padding: 24px 16px;
  background: var(--white-color);
  border: solid 1px var(--border-color);
  border-radius: var(--border-radius-lg);
}
.testStepWrap > div > p {
  width: 100%;
  margin-bottom: 4px;
  color: var(--number-color);
  font-size: var(--font-size-lg);
  font-weight: 700;
  text-align: center;
}
.testStepWrap > div > h4 {
  width: 100%;
  min-height: 80px;
  margin-bottom: 24px;
  text-align: center;
  font-size: var(--font-size-lg);
  font-weight: 700;
}
.testStepWrap > div > div > ul.stepTxt {
  width: 100%;
  padding-top: 20px;
  color: var(--gray-color-600);
  font-size: var(--font-size-xxs);
}
.testStepWrap > div > div > ul.stepTxt > li {
  margin-bottom: 12px;
  letter-spacing: -2px;
}
.testStepWrap > div > div > ul.stepTxt > li > span {
  font-weight: 700;
}
.testStepWrap > div > div > ul.center {
  text-align: center;
}
.testStepWrap > div > div > div.imgBox {
  display: flex;
  justify-content: center;
  width: 100%;
  height: auto;
}
.testStepWrap > div > div > div.imgBox img {
  width: 100%;
  max-width: 300px;
  min-width: 100px;
  height: 100%;
}
.testStepWrap > div > div.halfImgWrap {
  display: flex;
  gap: 12px;
  width: 100%;
  padding: 16px;
}
.testStepWrap > div > div.halfImgWrap > div {
  width: 50%;
}
.testStepWrap > div > div.halfImgWrap img {
  width: auto !important;
}
/*Layer popup*/
/****************************** E :  Global Style **/

/** S : Page ******************************/

/*종합결과*/
.synthesisWrap h2,
.bloodWrap h2 {
  font-size: var(--font-size-md);
  text-align: center;
}
.synthesisWrap {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 20px;
  border: 1px solid var(--gray-color-300);
  border-radius: var(--border-radius-lg);
  background: var(--white-color);
}
.synthesisWrap .statusWrap {
  display: flex;
  width: 80%;
}
.statusBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  width: 25%;
  padding: 10px 30px;
  font-size: 20px;
  border-right: 1px solid var(--gray-color-300);
}
.statusIcon {
  text-align: center;
  font-size: var(--font-size-xxs);
}
.statusIcon::before {
  content: '';
  display: block;
  width: 107px;
  height: 107px;
  margin-bottom: 10px;
  background-repeat: no-repeat;
}
.highStatus {
  color: #e52828;
}
.highStatus::before {
  background-image: url('../images/icon/iconValueHigh.png');
}

.normalStatus {
  color: #0e4194;
}
.normalStatus::before {
  background-image: url('../images/icon/iconValueNormal.png');
}

.lowStatus {
  color: #b472e4;
}
.lowStatus::before {
  background-image: url('..//images/icon/iconValueLow.png');
}
.synthesisWrap .userDataWrap {
  display: flex;
  flex-direction: column;
  align-items: space-between;
  gap: 20px;
  width: 20%;
  height: 100%;
  padding: 20px;
}
.synthesisWrap .userDataWrap ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}
.synthesisWrap .userDataWrap ul li:first-child {
  font-size: var(--font-size-xxs);
}
.synthesisWrap .userDataWrap ul li:last-child {
  display: flex;
  justify-content: right;
  font-size: var(--font-size-lg);
  font-weight: 700;
}
.bloodWrap {
  display: flex;
  justify-content: space-around;
  gap: 40px;
  padding: 40px 40px;
  border-radius: var(--border-radius-lg);
}
.bloodWrap > div {
  width: 50%;
}
.bloodWrap .bloodDataBox > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}
.bloodWrap .bloodDataBox > div > ul {
  width: 70%;
}
.bloodWrap .bloodDataBox > div > ul > li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  font-size: var(--font-size-xxs);
}
.bloodWrap .bloodDataBox > div > ul > li > span {
  font-size: var(--font-size-xs);
  font-weight: 700;
}
.bloodIcon {
  content: '';
  display: flex;
  justify-content: center;
  align-items: center;
  width: 120px;
  height: 108px;
  padding-bottom: 30px;
  font-size: var(--font-size-xxs);
  text-align: center;
  color: var(--white-color);
  background-size: 100% !important;
  background-repeat: no-repeat !important;
}
.highBlood {
  background: url('../images/icon/iconHeartHigh.png');
}
.normalBlood {
  background: url('../images/icon/iconHeartNormal.png');
}
.lowBlood {
  background: url('../images/icon/iconHeartLow.png');
}
.bloodWrap .bloodClassCart {
  padding: 0;
}
.bloodWrap .bloodClassCart img {
  display: flex;
  align-items: center;
  width: 100%;
}
.chartWrap {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
  width: 100%;
}
.chartWrap .chartBox {
  position: relative;
  width: calc(100% / 2 - 10px);
  padding: 20px;
  border: solid 1px var(--gray-color-300);
  border-radius: var(--border-radius-md);
  background: var(--white-color);
}
.chartWrap .chartBox .chartTitle > h2 {
  width: 100%;
  font-size: var(--font-size-sm);
  padding: 10px 0 15px 0;
}
.chartWrap .chartBox .chartTitle > span {
  position: absolute;
  display: flex;
  justify-content: end;
  flex-wrap: wrap;
  width: 100%;
  top: 20px;
  right: 20px;
  font-size: var(--font-size-xxxs);
  font-weight: 400;
  text-align: right;
}
.chartWrap .chartBox .chartTitle > span > b {
  width: 100%;
}
.chartWrap .chartBox .chartItem {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  height: 80px;
  background: var(--gray-color-300);
}
.chartWrap .chartBox .chartItem .progress {
  width: auto;
  background: linear-gradient(to right, #b472e4, #0e4194);
  padding: 10px 15px;
  border-radius: 0 60px 60px 0;
  color: var(--white-color);
  font-size: var(--font-size-xxs);
  font-weight: 700;
  text-align: right;
}
.chartWrap .chartBox .chartLavel {
  display: flex;
  justify-content: space-between;
  width: 100%;
  text-align: center;
}
.chartWrap .chartBox .chartLavel > span {
  flex-grow: 1;
  padding: 10px;
  font-size: var(--font-size-xxs);
  border-left: solid 1px var(--gray-color-300);
}
.chartWrap .chartBox .chartLavel > span:nth-child(1) {
  color: var(--result-level-low);
}
.chartWrap .chartBox .chartLavel > span:nth-child(2) {
  color: var(--result-level-normal);
}
.chartWrap .chartBox .chartLavel > span:nth-child(3) {
  border-right: solid 1px var(--gray-color-300);
  color: var(--result-level-high);
}
/****************************** E : Page **/

/** S : Table ******************************/
.tableType1 {
  width: 100%;
}
.tableType1 tr,
td {
  padding: 40px;
  border-bottom: solid 1px var(--gray-color-400);
  font-size: var(--font-size-lg);
}
.tableType1 > tr > td {
  text-align: center;
}
.tableType1 > tr > td > span {
  font-weight: 700;
}
.nodata {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  color: var(--gray-color-400);
  font-size: var(--font-size-xxl);
}
/****************************** E : Table **/

/** S : Form ******************************/
/****************************** E : Form **/
@media (max-width: 1080px) {
  /** S :  Global Style ******************************/
  /****************************** E :  Global Style **/

  /** S : Page ******************************/
  /*종합결과*/
  .bloodWrap {
    padding: 40px 0px;
  }
  /****************************** E : Page **/

  /** S : Table ******************************/
  /****************************** E : Table **/

  /** S : Form ******************************/
  /****************************** E : Form **/
}
@media (max-width: 1000px) {
  /** S :  Global Style ******************************/
  /****************************** E :  Global Style **/

  /** S : Page ******************************/
  /*종합결과*/
  .synthesisWrap h2,
  .bloodWrap h2 {
    font-size: var(--font-size-xs);
  }
  .synthesisWrap {
    flex-direction: column;
  }
  .synthesisWrap .statusWrap {
    width: 100%;
  }
  .statusBox:last-child {
    border-right: none;
  }
  /****************************** E : Page **/

  /** S : Table ******************************/
  /****************************** E : Table **/

  /** S : Form ******************************/
  /****************************** E : Form **/
}
@media (max-width: 940px) {
  /** S :  Global Style ******************************/
  /****************************** E :  Global Style **/

  /** S : Page ******************************/
  /*종합결과*/

  .synthesisWrap .userDataWrap {
    flex-direction: column;
    width: 100%;
    padding: 40px 40px 20px 40px;
  }
  .synthesisWrap .userDataWrap ul {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .synthesisWrap .userDataWrap ul:first-child {
    padding-top: 30px;
    border-top: solid 1px var(--gray-color-300);
  }
  .synthesisWrap .userDataWrap ul li:first-child {
    font-size: var(--font-size-xxs);
  }
  .synthesisWrap .userDataWrap ul li:last-child {
    display: flex;
    font-size: var(--font-size-lg);
    font-weight: 700;
  }
  .bloodWrap h2 {
    font-size: var(--font-size-md);
  }
  .bloodWrap {
    flex-direction: column;
    justify-content: space-around;
    gap: 40px;
  }
  .bloodWrap > div {
    width: 100%;
    padding: 20px 40px;
  }
  .chartWrap {
    flex-direction: column;
    justify-content: none;
  }
  .chartWrap .chartBox {
    width: 100%;
  }
  .chartWrap .chartBox .chartTitle > span {
    top: 40px;
    gap: 10px;
  }
  .chartWrap .chartBox .chartTitle > span > b {
    width: auto;
  }
  /****************************** E : Page **/

  /** S : Table ******************************/
  /****************************** E : Table **/

  /** S : Form ******************************/
  /****************************** E : Form **/
}
